.header {
  position: static;
  right: 1;
  text-align: right;
  padding: 1%;
}

.header a {
  color: #000;
  text-decoration: none;
  padding-left: 10px;
  padding-right: 5px;
  margin-right: 2px;
}
.footer a {
  color: rgb(102, 102, 102);
  text-decoration: none;
  padding-left: 10px;
  padding-right: 5px;
  margin-right: 2px;
}

a:hover {
  text-decoration: underline;
  color: #000;
}

.body {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  width: 50%;
}
img {
  size: 100%;
  margin-top: 10%;
  height: 70%;
  margin-top: 10%;
}
#button {
  margin-left: 20px;
  background-color: rgb(242, 242, 242);
  color: rgb(117, 117, 117);
  padding: 10px 35px 10px 35px;
  border: none;
  font-size: 14px;
  text-align: center;
}
#button:hover {
  border: 1px solid black;
  color: #000;
}

#researchBar {
  position: static;
  width: 550px;
  height: 30px;
  margin-top: 20px;
  border: 2px solid gray;
  border-radius: 4px;
}
#researchBar:focus {
  border: 2px solid red;
  border-radius: 4px;
}
#researchBar:hover {
  border: 2px solid blue;
  border-radius: 4px;
}

.row {
  float: left;

  width: 50%;
}

.footer {
  position: fixed;
  bottom: 0;
  background-color: rgb(242, 242, 242);
  padding: 1%;
  font-size: 100%;
  width: 98%;
}

/* Clear floats after the columns */
.footer:after {
  content: "";
  display: contents;
  clear: both;
}

/* Responsive layout - makes the three columns stack on top of each other instead of next to each other on smaller screens (600px wide or less) */
@media screen and (max-width: 600px) {
  .row {
    width: 100%;
  }
}
#secondFooter {
  text-align: right;
}

body,
html {
  height: 100%;
}

input[type=text] {
    width: 100%;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    background-color: white;
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsMAAA7DAcdvqGQAAAEvSURBVEhL7dM/S4JBAMfxJxJ6AaXQJEWbINIcvoQwcpMgolFHWxujoBp0DJeglpolgvaGwGiLKOeoSaQapL6/u1zk0eeuP+LgFz5094R3Pvf4BKPaLNawhRKymMSvS+AYHXz2aGIVP24OT2hjBylMYRp5XEMbbcO7GBp4RkYXQtIRHUGbrOiCT5vQB5fNrH/aRHfy+D127gq3dhiZnoO+zJKZOfaCih1GFoc2KJqZYx/YtcPI9OC1QdnMHHvAmR1GloY2KJiZY1W0MGNmg9Od6j3RO+PcAt5xggld6NMi3lAzM8/q0K2fIuxOcniFjlMP2qtDaPEL6BvquM6xBx3fHfT/GyThVXdx/VXz0E/2Hjo2vd2XWIfeeK96F//TxouHto9/W1xt4MAOxw2lIPgCSGJHhmvnxE4AAAAASUVORK5CYII=');
    background-position: 5px 3px; 
    background-repeat: no-repeat;
    padding: 12px 20px 12px 40px;
}